<h1><span class="far fa-list-alt"></span>
    My page</h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Profile</h4>
    <p class="card-text">
      Username:  {{locals.username}}<br>
      Date of birth: {{locals.dob}}
    </p>
  </div>
</div>