<h1>
  <span class="far fa-plus-square"></span> Logout
</h1>

<form method="post" action="/users/logout">
  <div class="form-group">
    <p>Are you sure you want to logout?</p>
  </div>
  <input type="submit" name="submitted" class="btn btn-lg btn-primary" value="confirm">
  <input type="submit" name="cancelled" class="btn btn-lg" value="cancel">
</form>